.media-container {
  text-align: center;
  padding: 50px 20px;
}

.media-container h1 {
  color: #002366;
  font-size: 72px;
  margin-bottom: 40px;
}

.media-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.media-btn {
  text-decoration: none;
  color: #002366;
  font-weight: 700;
  padding: 15px 22.5px;
  transition: all 0.3s;
  border-radius: 30px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-size: 21px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.media-btn:hover {
  color: #ffffff;
  background-color: #49C6EB;
  border-radius: 25px;
}

.media-btn.active {
  color: white;
  background-color: #002366;
  font-weight: bold;
  border-radius: 25px;
}

@media (max-width: 768px) {
  .media-buttons {
    flex-direction: column;
    align-items: center;
  }

  .media-btn {
    font-size: 18px;
    padding: 12px 20px;
  }
}